.image-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button,
.next-button {
    background-color: transparent;
    color: #333;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

